
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue à toi, <%= @user.first_name %> <%= @user.last_name%></h1> <br>

    <h2> Tu es désormais membre chez Səhra. </h2>

    <br> <br>
    <h3> Connecte-toi sur sehra.herokuapp.com pour voter pour l'évènement que tu préfères, proposer un évènement ou bien simplement voir les évènements à venir/en cours ! </h3>

    <p> Have a great day! </p>
    <b> Le crew. </b>

    <img src="https://www.doitinparis.com/files/2016/WE/09/spots-branches/thumbs-1180x525/le-friche.jpg">
  </body>
</html>