<div>
    <div id="portfolio" class="clearfix fullwidth portfolio-nogutter portfolio-isotope portfolio-isotope-3">
        <% @cities.each do |city| %>
            <div class="portfolio-item"><!-- item -->
                <div class="item-box">
                    <%= link_to city_path(id: city) do %>
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">
                                    <span style="font-size: 50px"><span style="color: #1ABC9C"><%= city.name[0] %></span><span><%= city.name[1..-1] %><span style="color: #1ABC9C">.</span></span>
                                    </span>
                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox">
                                    </a>
                                </span>
                            </span>
                        <%= image_tag(city.image_url, size:"800", class:"img-fluid") %>
                    <% end %>
                    </figure>
                </div>
            </div><!-- /item -->
        <% end %>
    </div>
</div>