
<% if user_signed_in? %>

<% if current_user.vote?(@event) %>
<div class="btn" style="width: 100%; display: inline-block;">
  <%= button_to "ANNULER", unvote_path(event_id: @event.id), remote: true, method: :delete, class:"btn btn-black"%>
</div>
<% else %>
<div class="btn" style="width: 100%; display: inline-block;">
  <%= button_to "VOTER", vote_path(event_id: @event.id), remote: true, class:"btn btn-primary"%>
</div>
<% end %>



<% else %> 

Vous devez vous connecter pour voter pour ce projet.


<% end %>

<label>
	<br>
    <div class="progress progress-xxs center" style="width:62em; max-width: 62em; height: 3.5em; display: inline-block; text-align: center; margin-left: 1em ; margin-right: 1em">
   		<div class="progress-bar" style="width: <%= (((@event.votes.count)*100)/User.count)*0.62 %>em; max-width: 62em; height: 3.5em;background-color: #99D17B"></div>
    </div>

    <div class="percentage" style="width: 100%; display: inline-block; text-align: center"><b> <%= ((@event.votes.count)*100)/User.count %> %</b> <br> des membres ont été convaincus par ce projet.  </div>
    
</div>
</label>