<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">
						
						<div class="col-md-3">
							<!-- Footer Logo -->
<!-- 							<img class="footer-logo" src="assets/images/_smarty/logo1.png" height="60em" alt="" />
 -->	<%= image_tag('logo1.png', height: "60em") %>
							<!-- Small Description -->
							<p>Nous réintroduisons la vie dans les espaces abandonnés.</p>

							<!-- Contact Address -->
							<address>
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										Sehra Corp.<br>
										 3 Rue du Puits Vert,<br>
										 31000 Toulouse<br>
									</li>
									<li class="footer-sprite phone">
										Contact: 1-800-565-2390
									</li>
									<li class="footer-sprite email">
										<a href="mailto:sehra.service@gmail.com">sehra.service@gmail.com</a>
									</li>
								</ul>
							</address>
							<!-- /Contact Address -->

						</div>

						<div class="col-md-3">

							<!-- Latest Blog Post -->
							<h4 class="letter-spacing-1">DERNIERES NEWS</h4>
							<ul class="footer-posts list-unstyled">
								<li>
									<a href="https://www.lemonde.fr/smart-cities/article/2018/12/04/le-grand-paris-redonne-vie-aux-cathedrales-industrielles-desertees_5392419_4811534.html">Le Grand Paris redonne vie aux cathédrales industrielles désertées</a>
									<small>04 Décembre 2018</small>
								</li>
                                <li>
									<a href="https://www.letelegramme.fr/france/seine-saint-denis-les-friches-industrielles-des-laboratoires-culturels-et-festifs-ephemeres-26-08-2018-12061059.php">Les friches industrielles, des laboratoires culturels et festifs éphémères</a>
									<small>26 Août 2018</small>
								</li>
								<li>
									<a href="https://www.20minutes.fr/toulouse/2243539-20180325-toulouse-mois-friche-urbaine-deviendra-veritable-ephemere-cinema">Toulouse: Dans un mois, cette friche urbaine deviendra un véritable (mais éphémère) cinéma</a>
									<small>25 Mars 2018</small>
								</li>
							</ul>
							<!-- /Latest Blog Post -->

						</div>

						<div class="col-md-2">

							<!-- Links -->
							<h4 class="letter-spacing-1">EXPLORE SEHRA</h4>
							<ul class="footer-links list-unstyled">
								<li><%=link_to "Home", root_path%></li>
								<li><%=link_to "Les villes", cities_path%></li>
								<li><%=link_to "Les projets", events_path%></li>
							</ul>
							<!-- /Links -->

						</div>

						<div class="col-md-4">

							<!-- Newsletter Form -->
							<h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
							<p>Inscrivez-vous pour avoir l'avant-première sur tous <br />les projets !</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Entrez votre Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">S'inscrire</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->

							<!-- Social Icons -->
							<div class="mt-20">
								<a href="https://www.facebook.com/" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://twitter.com/?lang=fr" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="https://www.google.fr/" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="https://fr.linkedin.com/" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>

								<a href="https://fr.wikipedia.org/wiki/RSS" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
					
							</div>
							<!-- /Social Icons -->

						</div>

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, SEHRA. LTD
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->